<button mat-fab matTooltip="You have been joined as {{user.name}}">
  <mat-icon>person</mat-icon>
</button>
<div class="chat-container">
  <mat-card class="main-card">
    <mat-list class="chat-list" #scrollMe>
      <mat-list-item *ngFor="let message of messages | async" [ngClass]="[(message.type === 'MSG')? 'chat-list-item': '']">
        <img mat-list-avatar *ngIf="message.type === 'MSG'" [src]="message.avatar">
        <h4 mat-line *ngIf="message.type === 'MSG'">
          <b *ngIf="message.from !== user.name">{{message.from}}</b>
          <b *ngIf="message.from === user.name">You</b>
        </h4>
        <p mat-line *ngIf="message.type === 'MSG'">
          <span> {{message.content}} </span>
        </p>
        <p mat-line *ngIf="message.type === 'INFO'" class="chat-notification">
          <span *ngIf="message.from !== user.name;else meJoined"> <b>{{message.from}}</b> joined to the conversation. </span>
        </p>
      </mat-list-item>
    </mat-list>
    <div class="chat-footer-container">
      <mat-icon>message</mat-icon>
      <mat-input-container class="chat-input">
        <input matInput 
               #inputMessage 
               maxlength="140" 
               placeholder="Type your message" 
               [(ngModel)]="messageContent" 
               (keyup.enter)="sendMessage(messageContent)">
        <mat-hint align="end">{{inputMessage.value.length}}/140</mat-hint>
      </mat-input-container>
    </div>
  </mat-card>
</div>

<div *ngIf="isValid;else other_content">
  content here ...
</div>

<ng-template #meJoined><span>You joined the chat.</span></ng-template>